{% extends 'base.html' %}

{% block title %}
Add account form page
{% endblock %}

{% block content %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_account">
  Add account form
</button>

<!-- ФОРМА ЧЕРЕЗ WTForm -->
<div class="modal fade" id="add_account" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter Account Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form method="POST" action="{{ url_for('edit.account_editor') }}">
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>

            <div class="mb-3">
              {{form.currency.label(class="form-label")}}
              {{ form.currency(class="form-control") }}
            </div>

            <div class="mb-3">
              {{form.symbol.label(class="form-label")}}
              {{ form.symbol(class="form-control") }}
            </div>
            {{form.submit(class="btn btn-primary")}}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
