{% extends 'base.html' %}

{% block title %}
Transaction page
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row text-md-center">
      <div class="d-grid gap-2 col-4 mx-auto">
          <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#add_account">
          Add account form
          </button>
      </div>  

      <div class="d-grid gap-2 col-4 mx-auto">
          <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#account_select">
          Open select account form   
          </button>
      </div>

      <div class="d-grid gap-2 col-4 mx-auto">
          <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#transaction">
          Open add transaction form
          </button>
      </div>
    </div>
  </div>


<!-- ФОРМА ЧЕРЕЗ WTForm -->
<div class="modal fade" id="add_account" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter Account Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form method="POST">
  
            <div class="mb-3">
                <label class="form-label">{{ form.account_name.label }}</label>
                {{ form.account_name(class="form-control") }}
            </div>
            <div class="mb-3">
              <label class="form-label">{{form.currency.label}}</label>
              {{ form.currency(class="form-control") }}
            </div>
  
            <div class="mb-3">
              <label class="form-label">{{form.symbol.label}}</label>
              {{ form.symbol(class="form-control") }}
            </div>
            {{form.submit(class="btn btn-primary")}}
          </form>
        </div>
      </div>
    </div>
  </div>




<div class="modal fade" id="account_select" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter Transaction Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="mb-3">
                <label>select account</label>
                <select class="form-control">
                    <option>Bank</option>
                    <option>Cash</option>
                    <option>Заначка</option>
                </select>
              </div>


            <div class="mb-3">
                <label for="exampleFormControlSelect1">transaction type</label>
                <select class="form-control">
                <option>Rub</option>
                <option>Dollar</option>
                <option>BTC</option>
                </select>
              </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="transaction" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter Transaction Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="mb-3">
                <label>select account</label>
                <select class="form-control">
                    <option>Bank</option>
                    <option>Cash</option>
                    <option>Заначка</option>
                </select>
              </div>
            <div class="mb-3">
                <label>transaction type</label>
                <select class="form-control">
                <option>OUT</option>
                <option>IN</option>
                </select>
              </div>
            <div class="mb-3">
                <label class="form-label">amount</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="accountName" class="form-label">comment</label>
              <input type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
      </div>
    </div>
  </div>
{% endblock %}