html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #FFFAFA;
	min-width: 320px;
	position: relative;
  height: 100vh;
  display: flex; 
  flex-direction: column;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 20px 0;
	margin: 10px;
	flex-grow: 1;
	flex-shrink: 0;
}

a {
	color: #111;
}

a:hover {
	color: #555;
}

/* Header */

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #c8c8c8;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

.modal-body img {
	max-width: 100px;
}

/* Header */

/* Body */

.card {
	font-size: 16px;
	color: #c8c8c8;
	background-color: #344850;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;

}


.illustration-img {
    max-width: 150px;
    width: 100%;
}

.carousel-inner{
display: flex;
max-height: 500px;
}

.form-group{
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.image-svg {
	fill: #FFFAFA;
}

/* Body */

/* Footer */

 .footer {
	background-color: #344850;
	width: 100%;
	padding-top: 25px;

	left: 0;
	right: 0;
	padding: 2rem;
	background: #344850;
	color: white;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;

} 


.footer h4 {
	color: #ccc;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #666;
	padding-bottom: 3px;
}


.footer a:hover {
	color: #fff;
	text-decoration: undeline;
}

.footer a, .footer li {
	color: #c8c8c8;
}

.footer li a {
	display: block;
}

.footer-icons a {
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}
/* Footer */