<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit Form</h2>
    <form method="POST" action="">
        <p>account_id<br><input type="account_id" name="account_id" required></p>
        <p>transaction_type<br><input type="transaction_type" name="transaction_type" required></p>
        <p>amount<br><input type="amount" name="amount" required></p>
        <p>date<br><input type="date" name="date" required></p>
        <p>comment<br><input type="comment" name="comment" required></p>
        <p><input type="submit" value="Sign Up"></p>
    </form>
</body>
</html>