<nav class="navbar navbar-dark navbar-expand-lg  justify-content-center" style="background-color: #344850;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/LOGO2.png') }}" alt="Тут логотип" width="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.dashboard') }}">
                        <i class="bi bi-person-badge-fill fs-5"></i>
                        Мой профиль
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-currency-exchange fs-5"></i>
                        Счета
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-pie-chart-fill fs-5"></i>
                        Отчёты
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Домашняя</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        {% if current_user.is_authenticated %}
                        <i class="bi bi-person-down fs-5"></i>
                        {% else %}
                        <i class="bi bi-person-plus-fill fs-5"></i>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if current_user.is_authenticated %}
                        <li><a class="dropdown-item" href="{{ url_for('user.dashboard') }}">
                            <i class="bi bi-person-badge-fill fs-5"></i>
                            Профиль:{{ current_user.login }}</a></li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('user.logout') }}">
                                <i class="bi bi-box-arrow-right fs-5"></i>
                                Выйти</a>
                            </li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('user.login') }}">Авторизация</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.signup') }}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
