<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #344850;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/static/img/LOGO2.png" alt="логотип" width="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle=""
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>Редактирование
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle=""
            data-bs-target="#navbarSupportedContentEdit" aria-controls="navbarSupportedContentEdit"
                aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>Управление балансом
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="edit/account">Редактирование</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account.get_create_page') }}">Управление балансом</a></li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        {% if current_user.is_authenticated %}
                        <i class="bi bi-person-down"></i>
                        {% else %}
                        <i class="bi bi-person-plus-fill"></i>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if current_user.is_authenticated %}
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-person-badge-fill"></i>
                            Профиль:{{ current_user.login }}</a></li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('user.logout') }}">
                                <i class="bi bi-box-arrow-right"></i>
                                Выйти</a>
                            </li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('user.login') }}">Авторизация</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.signup') }}">Регистрация</a></li>
                        {% endif %}

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
